<%- include ('../../partials/commons/head')%>
    <title>Nuestros Servicios</title>
    <link rel="stylesheet" href="/css/productsstyles.css">
</head>
<%- include ('../../partials/commons/header')%>
    <main class="container-fluid">
        <!--Administrador de productos-->
        <br>
        <section class="row">
        <article class="col-12 ">
            <h2 class="display-4 text-primary text-center pt-2">Administrador de Productos</h2>
        </article>
        <article class="col-12">
            <a href="/administrar/create"><ion-icon name="add-circle-outline"></ion-icon>Agregar</a>
        </article>
        <article class="col-12" >
        <table class=" table ">
            <thead class="text-white bg-primary">
                <tr>  
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Ver</th>
                <th scope="col">Editar</th>
                <th scope="col">Borrar</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(product => { %>
                <tr>
                <td><%= product.id%> </td>
                <td><%= product.name%> </td>
                <td><a href="/administrar/detail/<%= product.id%> "> <ion-icon name="eye-outline"></ion-icon></a></td>
                <td><a href="/administrar/edit/<%= product.id%> "> <ion-icon name="pencil-outline"></ion-icon></a></td>
                <td><a href="/administrar/delete/<%= product.id%>"><ion-icon name="trash-outline"></ion-icon></a></td>
                </tr>
                <% }); %>
            </tbody>
            </table> 
        </article>       
        </section>
        <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
  </main>
<%- include ('../../partials/commons/footer')%>
