<%- include ('../partials/commons/head')%>
<title>Nuestros Servicios</title>
<link rel="stylesheet" href="/css/productsstyles.css">
<link rel="stylesheet" href="/css/products/listProducts.css">
</head>
<%- include ('../partials/commons/header')%>
<%- include ('../partials/modals/showProducts')%>
<main>
    <div data-products='<%= JSON.stringify(products) %>' id="product-data"></div>
    <div class="container-max-box">
        <h1 class="box-title border-top">Servicios</h1>
        <div class="main-container">
            <% for (let i = 0; i < products.length; i++) { %>
                <% if (products[i].subcategories.length > 0) { %>
                    <div class="accordion" data-category-index="<%= i %>">
                        <h2><%= products[i].name %></h2>
                        <div class="panel">
                            <% for (let j = 0; j < products[i].subcategories.length; j++) { %>
                                <% if (products[i].subcategories[j].products.length > 0) { %>
                                    <div class="sub-accordion" data-subcategory-index="<%= j %>">
                                        <h3><%= products[i].subcategories[j].name %></h3>
                                        <div class="sub-panel">
                                            <% for (let k = 0; k < products[i].subcategories[j].products.length; k++) { %>
                                                <p class="products" data-product-index="<%= k %>"><%= products[i].subcategories[j].products[k].name %></p>
                                            <% } %>
                                        </div>
                                    </div>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            <% } %>
            <script src="/scripts/products/listProducts.js"></script>
        </div>
    </div>
</main>
<%- include ('../partials/commons/footer')%>
