<%- include ('../partials/commons/head')%>
    <title>Nuestros Servicios</title>
    <link rel="stylesheet" href="/css/productsstyles.css">
</head>
<%- include ('../partials/commons/header')%>
    <main>
        <h2>Servicios</h2>
            <% for(let i= 0; i < category.length; i++){ %>
                <section class="main-section">
                    <h3><%= category[i].name%></h3>
                    <% for(let j= 0; j < category[i].subcategories.length; j++){ %>
                        <article class="subcategories-section">
                            <div>
                                <img class="photo" src="/db-images/products/subcategories/<%= category[i].subcategories[j].image%>" alt="<%= category[i].subcategories[j].image%>">
                                <div>
                                    <p class="p"><%= category[i].subcategories[j].name%></p>
                                    <p class="p"><%= category[i].subcategories[j].description%></p>
                                    <a href="/products/subcategory/<%= category[i].subcategories[j].id%>"> <input class="vermas" type="submit" value="Descubre más"></a>
                                </div>
                            </div>
                        </article>
                    <% } %>
                </section>
            <% } %>
    </main>
<%- include ('../partials/commons/footer')%>
