<%- include ('../partials/commons/head')%>
    <title>Nuestros Servicios</title>
    <link rel="stylesheet" href="/css/productsstyles.css">
</head>
<%- include ('../partials/commons/header')%>
    <main>
        <h2>Servicios</h2>
            <% for(let i= 0; i < products.length; i++){ %>
                <section class="main-section">
                    <h3><%= products[i].name%></h3>
                    <p class="name"><%= products[i].name%></p>
                </section>
            <% } %>
    </main>
<%- include ('../partials/commons/footer')%>
