<%- include ('../../../partials/commons/head')%>
    <link rel="stylesheet" href="/css/addproducts.css">
    <title>Agregar Producto</title>
</head>
<%- include ('../../../partials/commons/header')%>
    <script>
    const categories =  JSON.parse('<%- JSON.stringify(allCategories) %>')
    </script>
    <main>
        <div class="split-view">            
            <section class="form-container">
                <div class ="header-form">                    
                    <h2 class="form-title"><i class="fa-solid fa-circle-plus form-title fa-lg"></i> Agregar Producto</h2>
                </div>
                <form class="form" enctype="multipart/form-data" method="POST" action="/admin/products/products/add-product">
                    <div class="subitem">
                        <h3 class="center-title">Nombre del producto</h3>
                        <input type="text" name="productname" id="productname" class="form-input form-dimention" required placeholder="Ingrese un nombre para su producto">
                    </div>
                    
                    <div class="subitem">
                        <h3 class="center-title">Descripción</h3>
                        <input type="text" name="productdescription" id="productdescription" class="form-input form-dimention" required placeholder="Ingrese una descripción (MAX: 300 caracteres)">                        
                    </div>
                    
                    <div class="subitem">
                        <h3 class="center-title">Imagen Producto</h3>
                        <input type="file" name="image" id="image" class="form-input image-info" required placeholder="Ingrese imagen">                        
                    </div>

                    <div class="subitem">
                        <label for="categoryID">Categoría </label>
                            <p>
                                <select name="category_id" id="catID" required>
                                    <option value="" disabled selected>- Seleccione la categoría - </option>
                                    <% allCategories.forEach(category => { %>
                                    <option value="<%= category.id %>"><%= category.name %></option>
                                    <% }); %>
                                </select>
                            </p>
                    </div>
                    
                    <div class="subitem">
                        <label for="subcategoryID">Subcategoría </label>
                            <p>
                                <select class="subAdd" name="subcategory_id" id="subcatID" required>
                                    <option value="" disabled selected>- Seleccione la subcategoría - </option>
                                </select>
                            </p>
                    </div>

                    <div class="subitem">
                        <label for="priceID">Unidad Precio </label>
                            <p>
                                <select name="price_id" id="" required>
                                    <option value="" disabled selected>- Seleccione el tipo de precio - </option>
                                    <% allProductPrices.forEach(price => { %>
                                    <option value="<%= price.id %>"><%= price.name %></option>
                                    <% }); %>
                                </select>
                            </p>
                    </div>

                    <div class="subitem">
                        <h3 class="center-title">Precio</h3>
                        <input type="text" name="price" id="price" class="form-input form-dimention center-title" required placeholder="0,00$">
                    </div>
                    
                    <div class="subitem">
                        <h3 class="center-title">Status</h3>
                        <input type="number" name="statusProduct" id="statusProduct" class="form-input form-dimention center-title" required placeholder="0">
                    </div>

                    <div class="subitem">
                        <button type="submit" name="add-item" class="add-item-button form-button">Crear</button>
                    </div>
                </form>
            </section> 
        </div>     
        <script src="/css/scripts/add.js"></script>
    </main>
    <%- include ('../../../partials/commons/footer')%>
