<%- include ('../partials/commons/head')%>
    <link rel="stylesheet" href="/css/loginstyles.css">
    <title>Login</title>
</head>
<%- include ('../partials/commons/header')%>
    <main>
        <section id="login-container" class="container">
            <form method="POST" action="/auth/login">
                <h2>Inicio de sesión</h2>
                <br>
                <label>Email:</label>
                <input type="email" id="input-email" class="input"  name="email" required placeholder="Ingrese su email" value="<%= typeof old != 'undefined' ? old.email : '' %>" >
                <% if(typeof(errors) != 'undefined' && errors.email){%>
                    <span class="text-danger">
                      <%= errors.email.msg %>
                    </span>
                 <%}%>
                <br>
                <label>Contraseña:</label>
                <input type="password" id="input-pass" class="input" name="password" required placeholder="Ingrese su contraseña">
                <% if(typeof(errors) != 'undefined' && errors.password){%>
                    <span class="text-danger">
                      <%= errors.password.msg %>
                    </span>
                 <%}%>
                <br>
                <div class="form-group ">
                    <input type="checkbox" name="recordarme"><label class="checkbox-inline">Recordarme</label>
                  </div>
                <br>
                <button type="submit" name="login" class="boton-login">Iniciar Sesión</button>
            </form>
        </section>
        <div class="social-media">
            <p>O inicia sesión con:</p>
            <div class="icons">
                <p><a href="#" class="nolink nolink-ig"><i class="fa-brands fa-instagram"></i> Instagram</a></p>
                <p><a href="#" class="nolink nolink-fb"><i class="fa-brands fa-facebook"></i> Facebook</a></p>
                <p><a href="#" class="nolink nolink-ms"><i class="fa-brands fa-microsoft"></i> Microsoft</a></p>
                <p><a href="#" class="nolink nolink-gg"><i class="fa-brands fa-google"></i> Google</a></p>
            </div>
        </section>
    </main>
<%- include ('../partials/commons/footer')%>