<%- include ('../partials/commons/head')%>
    <link rel="stylesheet" href="/css/registerstyles.css">
    <title>Modificar Usuario</title>
</head>
<%- include ('../partials/commons/header')%>
    <main>
        <div class="split-view">            
            <section class="form-container">
                <div class ="header-form">                    
                    <h2 class="form-title"><i class="fa-solid fa-wand-magic-sparkles form-title fa-lg"></i> Modificar Usuario </h2>
                </div>
                <!--borrar el enctype="multipart/form-data"-->
                <form class="form" enctype="multipart/form-data" 
                        method="POST" action="/auth/profile/modify-user?_method=PUT">
                    <div class="subitem">
                        <h4 class="center-title">Nombre del Usuario</h4>
                        <input type="text" name="firstName" id="input-user" class="form-input form-dimention" required placeholder="Ingrese su nombre" value="<%= user.firstName%>">
                    </div>
                    <div class="subitem">
                        <h4 class="center-title">Apellido del Usuario</h4>
                        <input type="text" name="lastName" id="input-user" class="form-input form-dimention" required placeholder="Ingrese su apellido" value="<%= user.lastName%>">
                    </div>
                    <div class="subitem">
                        <h4 class="center-title">Nombre de Usuario</h4>
                        <input type="text" name="userName" id="input-user" class="form-input form-dimention" required placeholder="Ingrese su nombre de usuario" value="<%= user.userName%>">
                    </div>
                    <div class="subitem">
                        <h4 class="center-title">Email</h4>
                        <input type="email" name="email" id="input-user" class="form-input form-dimention" required placeholder="Ingrese su email" value="<%= user.email%>">
                    </div>
                    <div class="subitem">
                        <h4 class="center-title">Contraseña</h4>
                        <input type="password" name="password" id="input-user" class="form-input form-dimention" required placeholder="Ingrese su contraseña" value="<%= user.password%>">
                    </div>
                    <div class="subitem">
                        <h4 class="center-title">Imagen de Perfil</h4>
                        <div class="custom-file">
                            <figure class="form-group">
                              <img class="w-100" src="/db-images/users/<%=user.imageProfile%>"
                               alt="Avatar" <%=user.imageProfile%>>
                            </figure>
                            <input type="hidden" name="oldImage" value="<%=user.imageProfile%>">
                            <input type="file" name="avatar">
                        </div>                        
                    </div>
                    <div class="subitem">
                        <button type="submit" name="edit-user" class="edit-user-button form-button">Guardar Cambios</button>
                    </div>
                </form>
            </section>
            <section class="previews-container">
                <div class="preview-item">            
                    <div class="preview-desktop">
                        
                    </div>
                    <div class="preview-mobile">
                        
                    </div>
                </div>
            </section>   
        </div>     
    </main>
    </main>
    <%- include ('../partials/commons/footer')%>

