<%- include ('../partials/commons/head')%>
    <link rel="stylesheet" href="/css/registerstyles.css">
    <title>Registro</title>
</head>
<%- include ('../partials/commons/header')%>
    <main>
        <section id="reg-container" class="container form-container">
            <form action="/register" method="post" enctype="multipart/form-data" class="form">
                <h2 class="form-title">Registro <i class="fa-regular fa-user"></i></h2>
                <div>
                <label class="form-label">Nombre</label>
                <input required type="text" class="form-control" name="first_name" placeholder="Nombre" value="<%= typeof old != 'undefined' ? old.first_name : '' %>">
                </div>
                <div>
                <label class="form-label">Apellido</label>
                <input type="text" class="form-control" name="last_name" placeholder="Apellido" value="<%= typeof old != 'undefined' ? old.last_name : '' %>">
                </div>
                <div>
                    <label class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" name="user_name" placeholder="Nombre de usuario" value="<%= typeof old != 'undefined' ? old.last_name : '' %>">
                </div>
                <div>  
                    <label class="form-label">Contrase単a</label> 
                    <input type="password" class="form-control" name="password" placeholder="Contrase単a"  >
                </div>
                <div>
                    <label class="form-label">Confimar contrase単a</label> 
                    <input type="password" class="form-control" name="confirm_password" placeholder="Confirma Contrase単a" >
                </div>
                <div>
                    <label class="form-label">Email</label> 
                    <input type="email" class="form-control" name="email" placeholder="Email" value="<%= typeof old != 'undefined' ? old.email : '' %>">
                </div>
                <div>
                    <label class="form-label">Avatar</label> 
                    <input type="file"   name="avatar"  placeholder="Debes eligir tu avatar...">
                </div>
                <div>
                <button type="submit" name="registrar" class="boton-registro form-button">Registrarse</button>
                </div>
            </form>
        </section>
        <section class="container2 form-container2">
        <div class="social-media">
            <p>O registrarse con:</p>
            <div class="icons">
                <p><a href="#" class="nolink nolink-ig"><i class="fa-brands fa-instagram"></i> Instagram</a></p>
                <p><a href="#" class="nolink nolink-fb"><i class="fa-brands fa-facebook"></i> Facebook</a></p>
                <p><a href="#" class="nolink nolink-ms"><i class="fa-brands fa-microsoft"></i> Microsoft</a></p>
                <p><a href="#" class="nolink nolink-gg"><i class="fa-brands fa-google"></i> Google</a></p>
            </div>
        </section>        
    </main>
    <%- include ('../partials/commons/footer')%>
